<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8"/>
    <title> 
        {% if title %}
            {{ title }}
        {% else %}
            CTA Data!
        {% endif %}
    </title>
    <link href={{ url_for('static',filename="custom.css") }} rel="stylesheet" type="text/css" >

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" rel="stylesheet" type="text/css" >
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
        {% if figscript %}
        {{ figscript|safe}}
        {% endif %}
    <script type="text/javascript" src= {{ url_for('static',filename="sortable.js") }}></script>
    </head>
<body>
<center>
<a href="{{ url_for('raw_table') }}">Raw Data</a>
<a href="{{ url_for('longest_route') }}">Stops per Route</a>
<a href="{{ url_for('most_routes') }}">Routes per Stop</a>
<a href="{{ url_for('full_map') }}">Full Map</a>
<a href="{{ url_for('brief_map') }}">Brief Map</a>
<a href="{{ url_for('route_map') }}">Route Map</a>

</center>
{% block content %}{% endblock %}
</body>
</html>
